<div class="section1">
    <p class="tittle">¿Quién es Juanchito?</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="box col-5 mt-5">
                <img class="image-box" src="/jtphoto.jpeg" alt="model">            
            </div>
            <p class="description">Juanchito Trucupey es un destacado diseñador gráfico colombiano, nacido y criado en Bogotá, Colombia. A lo largo de su carrera, se ha ganado un lugar importante en el mundo del diseño por su capacidad para fusionar creatividad con funcionalidad, logrando que sus proyectos destaquen por su enfoque innovador y original</p>
    </div>
</div>    
