<main  *ngIf="selectedProduct">
    <div class="datosDeContacto d-flex ">
        <div class="primerProducto  d-flex justify-content-center">
            <div class="">
                <p><strong>Trucupay</strong></p>
                <img class="camisa1" src="{{selectedProduct.imagen}}" alt="">
                <p>{{selectedProduct.name}}</p>
                <p><strong>Total: </strong>{{selectedProduct.price}}</p>
            </div>
        </div>
        <div class=" ">
            <div class="contacto">
                <p class="m-1"><strong>CONTACTO</strong></p>
                <label class="m-1" for="email">Correo electronico</label>
                <input class="cajasRespuestas m-1" type="email">
            <div class="d-flex m-1">
                <input class="m-1" type="checkbox">
                <label for="">
                Enviarme novedades y ofertas por correo electrónico
                </label>
            </div>
            <p class="m-1"><strong>ENTREGA</strong></p>
            <div class="d-flex g-3">
                <input class="cajasRespuestas2 m-1" type="nombre" placeholder="Nombre">
                <input class="cajasRespuestas2 m-1" type="apellido" placeholder="Apellido">
            </div>
                <input class="cajasRespuestas m-1" type="number" placeholder="Documento de identidad">
                <input  class="cajasRespuestas m-1" type="text" placeholder="Direccion">
            <div>
                <input class="cajasRespuestas3 m-1" type="text" placeholder="Cuidad">
                <input class="cajasRespuestas3 m-1"  type="text" placeholder="Departamento">
                <input class="cajasRespuestas3 m-1"  type="text" placeholder="Codigo postal">
            </div>
                <input class="cajasRespuestas m-1" type="number" placeholder="Telefono">
                <p class="m-1"><strong>Metodos de pago</strong></p>
            <div class="g-1">
                <img class="imagenPago" src="/metodosdePago1.png" alt="">
                <img class="imagenPago" src="/metodosdepago2.png" alt="">
                <img class="imagenPago" src="/metodosdePago4.png" alt="">
                <img class="imagenPago" src="/metodosdepago3.png" alt="">
            </div>
            <button class="cajasRespuestas pagar">Pagar ahora</button>
        </div>
        </div>
    </div>
</main>

