<header>
    <nav>
        <div class="d-flex justify-content-between ">
            <div class="mt-3">
                <div class="btnRedes">
                    <a href="https://www.facebook.com/people/Juanjo-L%C3%A1zaro/pfbid024qEvNS1q4JunekD9Eye8wqvdA5TpA5bsW4wPYhPqRoRiU6MdzKokauvHZwfFhMpcl/\" target="_blank" >
                        <img class="redes" src="/icons8-facebook-nuevo-32.png"  alt="">
                    </a>
                </div>
            <div class="btnRedes">
                <a href="https://www.instagram.com/juanchitotrucupey/?hl=en" target="_blank" >
                    <img class="redes" src="/icons8-instagram-32.png" alt="">
                </a>
            </div>
        </div>
        <div>
            <div class="elementos">
                <img class="Decoracion" src="/imagen_1.png" alt="">
                <img class="andando" src="/Juanchito.png" alt="">
                <a href="" routerLink="/home"> <img class="logo" src="/Logo.png" alt=""></a>
            </div>
        </div>
        <div>
            <img type= "button" class="Iconos Carrito" src="/carrito.png" routerLink="/carrito"><span *ngIf="cantidadCarrito > 0" >({{ cantidadCarrito }})</span>
        </div> 
        </div> 
        <div class="d-flex justify-content-end btnMenu">
            <a href="" routerLink="/tienda"><img class="btnMenu1" src="/1.jpg" alt=""></a>
            <a href="" routerLink="/acerca"><img class="btnMenu1" src="/2.jpg" alt=""></a>
            <a href=""><img class="btnMenu1" src="/3.png" alt=""></a>
        </div> 
    </nav>
</header>
