<div class="d-flex flex-column align-items-center contenedor">
    <h1>Administracion Trucupey</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Accion a realizar</th>
            <th scope="col">Ir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Administrar Productos</td>
            <td><button routerLink="/administracion" >Click aqui</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Administrar Mensajes de Contacto</td>
            <td><button routerLink="/admi-mensajes">Click aqui</button></td>
        </tr>
    </tbody>
</table>