<div class="contenedor">
    <div class="contenedor2">
        <h1>Política de Reembolsos, Cambios y Devoluciones</h1>
        <p>En Trucupey, queremos que estés completamente satisfecho con tu compra. Si tienes algún inconveniente con tu pedido, te ofrecemos las siguientes opciones:</p>

        <h2 class="titulos">Cambios y Devoluciones</h2>
        <p>Plazo: Puedes solicitar un cambio o devolución dentro de los 7 días posteriores a la recepción del producto.</p>
        <p>Condiciones: El producto debe estar en perfectas condiciones, sin uso y en su empaque original.</p>
        <p>Proceso: Escríbenos a  con tu número de pedido y fotos del producto.</p>

        <h3 class="titulos">Reembolsos</h3>
        <p>Casos aplicables: Solo ofrecemos reembolsos en caso de productos defectuosos o errores en el envío.</p>
        <p>Método de reembolso: Se realizará a través del mismo método de pago utilizado en la compra.</p>

        <h4 class="titulos">Información de Pagos</h4>
        <p>Métodos de pago aceptados:</p>
        <p>Tarjetas de crédito y débito (Visa, Mastercard, American Express).</p>
        <p>Transferencias bancarias.</p>
        <p>Pagos en línea a través de plataformas seguras.</p>


        <h5 class="titulos">Tiempos de entrega:</h5>
        
        <p>Envíos nacionales: 3 a 7 días hábiles.</p>
        <p>Envíos internacionales: 10 a 15 días hábiles.</p>

        <h6 class="titulos">Costo de envío:</h6>

        <p>El costo varía según la ubicación y se calcula al momento de la compra.</p>
        <p>Seguimiento: Una vez enviado tu pedido, recibirás un número de rastreo para que puedas monitorear el estado del envío.</p>
        <p>Si tienes cualquier otra duda, contáctanos</p>
    </div>
</div>
