.contenedor {
    display: flex;
    flex-direction: column; 
    width: 80%; 
    margin: auto; 
    min-height: 100vh;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: blanchedalmond;
    border-radius: 8px;
}
.contenedor2 {
    margin: 30px;
}
h1{
    font-size: 40px;
}
p{
    font-family: 25px;
}
.titulos{
    font-size: 25px;
    font-weight: bold;
}
