<div class="contenedor">     
    <table>
        <thead>
            <tr>
                <th class="text-center align-middle">Nombre Completo</th>
                <th class="text-center align-middle">Correo</th>
                <th class="text-center align-middle">Mensaje</th>
                <th class="text-center align-middle">Respondido</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of messages">
                <td>{{message.name}} {{message.lastName}}</td>
                <td>{{message.email}}</td>
                <td>{{message.message}}</td>
                <td>
                    <button class="btn-borrar" (click)="deleteMessage(message._id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button routerLink="/principalAdmi" class="volverTrucu" style="padding: 10px 20px; background-color: #919191; color: black; border: none; border-radius: 5px;">
    ← Admi.Trucupey
</button>