<footer class="footer">
    <div class="d-flex justify-content-center">
        <img class="logofooter"src="/Mesa_de_trabajo_1.png">
        <div class="d-flex justify-content-center caja_de">
            <div class="box1">
                <a class="infocolor"  href="">Mail: Soy Trucupey.com</a><br>
                <a class="infocolor" href="">Tel: +57 31555939313</a><br>
                <a class="infocolor"  href="https://www.instagram.com/juanchitotrucupey/?hl=en" target="_blank">Instagram:</a><br>
                <button class="buttonfooter" routerLink="/contacto">¡Contáctame!</button><br>
        </div>
        <div class="box2">
                <a class="infocolor" routerLink="/informacion-adicional" href="">Información de Reembolsos</a><br>
                <a class="infocolor" routerLink="/informacion-adicional"  href="">Cambios o Devoluciones</a><br>
                <a class="infocolor" routerLink="/informacion-adicional"  href="">Información de envíos</a><br>
        </div>
    </div>
    </div>
</footer>