<section class="section1">
    <p class="tittle">Formulario de Contacto</p>
    <div class="contact-box">
        <div class="box2 container">
        <form [formGroup]="formSendMessage" class="formOne">
            <div class="form-group">
                <label for="firstName">Nombre</label>
                <input formControlName="name" type="text" class="form-control"  name="name" id="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Apellido</label>
                <input formControlName="lastName" type="text" class="form-control"  name="lastName" id="lastName" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control"  name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="message">Mensaje</label>
                <textarea formControlName="message" name="message" class="form-control" id="message" rows="4" required></textarea>
            </div>
                <div class="btn5"><button (click)="sendMessage()" class="buttonfooter2">Enviar</button></div> 
        </form>
    </div>
    </div>
</section>    
