<section class="section1">
    <p class="tittle">Formulario de Contacto</p>
    <div class="contact-box">
        <div class="box2 container">
        <form class="formOne">
            <div class="form-group">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Apellido</label>
                <input type="text" class="form-control" id="lastName" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="message">Mensaje</label>
                <textarea class="form-control" id="message" rows="4" required></textarea>
            </div>
              <div class="btn5"><button class="buttonfooter2">Enviar</button></div> 
        </form>
    </div>
    </div>
</section>    
